@model IEnumerable<Forum.Models.Message>
<!doctype html>
<html>
<head>
	<title>Hello world!</title>
</head>
<body>
	<table>
		@foreach (var mes in Model)
		{
			<tr>
				<td>@mes.Id</td>
				<td>@mes.Text</td>
				<td>@mes.CreatingDate</td>
			</tr>
		}
	</table>
	<form method="post">
		<input type="hidden" value="@ViewBag.MessageId" name="MessageId" />
		<input type="text" name="text">
		<button type="submit">Отправить</button>
	</form>


	@*<td><a href="~/Home/Buy/@phone.Id">Купить</a></td>*@

</body>
</html>
