@model IEnumerable<Forum.Models.Message>
<!doctype html>
<html>
<head>
	<title>Hello world!</title>
</head>
<body>
	<table>
		@foreach (var mes in Model)
		{
			<tr>
				<td>@mes.Id</td>
				<td>@mes.Text</td>
				<td>@mes.CreatingDate</td>
			</tr>
		}
	</table>
	<form method="post">
		<input type="hidden" value="@ViewBag.MessageId" name="MessageId" />
		<input type="text" name="text">
		<button type="submit" name="sendMessageButton">Отправить</button>
	</form>

	<script src="https://code.jquery.com/jquery-3.5.1.js"
			integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			crossorigin="anonymous"></script>
	<script src="~/js/index.js"></script>

	@*<td><a href="~/Home/Buy/@phone.Id">Купить</a></td>*@

</body>
</html>
