@model IEnumerable<Forum.Models.Order>

<!DOCTYPE html>
<html>
<head>
	<title>Orders</title>
</head>
<body>
	<h3>Orders</h3>
	<table>
		<tr>
			<td>Name</td>
			<td>Phone</td>
			<td>Address</td>
		</tr>
		@foreach (var ord in Model)
		{
			<tr>
				<td>@ord.User</td>
				<td>@ord.Phone</td>
				<td>@ord.Address</td>
			</tr>
		}
	</table>
</body>
</html>